body{
    width: 100%;
}

#Boxes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: auto;
    max-width: 100%;
}

.box{
    overflow: hidden;
    margin: 1% 1%;
    padding: 2px 2px;
    border: 2px solid white;
    border-radius: 10px;
    width: auto;
    max-width: 100%;
}
.box img{
    max-width: 100%;
}