#gameCanvas {
    width: 90%;
    /*max-width: 400px;*/
    display: block;
    margin: 32px auto 0 auto;
    height: 85vh;
}

#score {
    text-align: center;
    font-size: 60px;
    font-family: 'Antic Slab', serif;
    margin-top: 10px;

}

body{
    overflow: hidden;
}
